<body>
    <%- include ('../includes/navigation.ejs') %>
        <main>
            <form class="login-form" action='/login' method='post'>
                <div>
                    <label for='email'>Email</label>
                    <input type='email' name='email' id='email'>
                </div>
            </form>
        </main>



</body>