<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.length <= 0 ) {%>
                    <h1>Nothing there!</h1>
                    <% } else {%>

                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>